div.options>label>input {
  visibility: hidden;
}

div.options>label {
  display: block;
  margin: 0 0 0 -15px;
  padding: 0 0 20px 0;
  height: 20px;
  width: 100%;
  /* border: 1px solid red; */
}

div.options>label>img {
  display: inline-block;
  padding: 0px;
  height: 15px;
  width: 15px;
  background-color: white;
  /* border: 1px solid green; */
  margin-top: -4px;
  margin-right: 11px;
  cursor: pointer;
  /* border: 1px solid black; */
}

div.options>label>input:checked+img {
  background: url("./images/x2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px 15px;
}

input[type=checkbox].css-checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  -o-appearance: none;
  /* outline: none; */
  /* outline: 1px solid #1e5180; */
  content: none;
  /* border: 0; */
}

input[type=checkbox].css-checkbox+label.css-label {
  padding-left: 25px;
  height: 15px;
  display: inline-block;
  line-height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
  cursor: pointer;
}

input[type=checkbox].css-checkbox:checked+label.css-label {
  background-position: 0 -15px;
}

.css-label {
  background-image: url("./images/x.png");
}